<h3>Quiz: el juego de las preguntas</h3>
<form method="get" action="/quizes/answer">
  <p>Pregunta: <%- pregunta.enunciado %></p>
  <%- pregunta.entrada %>
  <input type="submit" value="Enviar">
</form>
